<html>
<link rel="stylesheet" type="text/css" href="/style.css" />


<body>
    <%- include('header') -%>
    <div class="individual-container">
        <div class="title-noborder">
            <%= entry.firstName %>
            <%= entry.lastName %>
        </div>
        <div id="stat-container">
            <%= entry.category %>
        </div>
        <div class="title">Stats</div>
        <div class="stat-flex">
            <div id="stat-container">
                strength:
                <%= entry.strength %><br>
                intellect:
                <%= entry.intelligence %><br>
                charisma:
                <%= entry.charisma %>
            </div>
            <div id="stat-container">
                dexterity:
                <%= entry.dexterity %><br>
                constitution:
                <%= entry.constitution %><br>
                wisdom:
                <%= entry.wisdom %><br>
            </div>
        </div>
        <div class="title">Biography</div>
        <div id="entry-container">
            <%= entry.biography %>
        </div>
        <div class="title">Misc.</div>
        <div id="entry-container">
            <%= entry.feats %><br>
            <%= entry.staticTraits %><br>
            <%= entry.dynamicTraits %><br>
            <%= entry.goals %>
        </div>
    </div>
</body>

</html>